

.card_full {
  font-size: 1.2rem;
  text-align: center;
  transition: 0.5s;
  list-style: none;
  margin: 20px;
}
.card_full :hover{
  opacity: 0.7;
  transform: translateY(-18px);
  transition: 0.5s;
}

.card_img_nuevo{
  border-radius: 18px;
}
@media (max-width: 560px) {
  .card_img_nuevo {
      width: 90%;
      height: auto;
  }
}
.tituloCard{
  color: rgb(140, 140, 140);
  text-align: center;
}